@import "reset.css";
@import "lionbars.css";

body {
	background: #272f32;
	font: 12px/18px tahoma, sans-serif;
	color: white;
}

.clear { clear: both; }

a { text-decoration: none; color: #ff3d2e; }
a:hover { text-decoration: underline; }

.demo { background: white; float: left; margin-right: 20px; width: 300px; height: 400px; padding: 20px; color: #222; font: 12px/18px helvetica, tahoma, sans-serif; overflow: auto; border-radius: 5px; }



.cell-table {
    display:table;
    border-collapse:collapse;
}

.cell-row {
    display:table-row;
}

#primary-nav, #secondary-nav, .cell-content {
    display:table-cell;
}

#primary-nav, #secondary-nav {
}

.cell-content {
}



