<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	     version="2.5">
		 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AsistenciaCrudCreateGrupoHorario</servlet-name>
		<servlet-class>sshr.web.servlet.asistencia.CrudCreateGrupoHorario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsistenciaCrudFindGrupoHorario</servlet-name>
		<servlet-class>sshr.web.servlet.asistencia.CrudFindGrupoHorario</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AsistenciaCrudCreateGrupoHorario</servlet-name>
		<url-pattern>/AsistenciaCrudCreateGrupoHorario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsistenciaCrudFindGrupoHorario</servlet-name>
		<url-pattern>/AsistenciaCrudFindGrupoHorario</url-pattern>
	</servlet-mapping>
	
	
</web-app>